.row {
  min-height: 5vh;
}

.hero-img {
  background-image: url("https://www.pethealthnetwork.com/sites/default/files/what-heck-kitten-season-anyway-156615469.jpg");
  background-size: cover;
}

.cat-row {
  min-height: 45vh;
}

.header {
  min-height: 5vh;
  font-family: "Permanent Marker", cursive;
}

.card2 {
  width: 50%;
  transform: translateY(120px);
}

.kittens {
  height: 300px;
  width: 250px;
  border-radius: 5px;
}
